version: '{build}'
skip_tags: true
image: Visual Studio 2019
configuration: Release
test: off
build_script:
- ps: ./Build.ps1
artifacts:
- path: artifacts/Serilog.*.nupkg
only_commits:
  files:
    - serilog-sinks-azuretablestorage.sln
    - src/Serilog.Sinks.AzureTableStorage/
    - Build.ps1
    - assets/
    - test/Serilog.Sinks.AzureTableStorageWithProperties.Tests/
deploy:
- provider: NuGet
  api_key:
    secure: K3/810hkTO6rd2AEHVkUQAadjGmDREus9k96QHu6hxrA1/wRTuAJemHMKtVVgIvf
  skip_symbols: true
  on:
    branch: /^(master|dev)$/
- provider: GitHub
  auth_token:
    secure: p4LpVhBKxGS5WqucHxFQ5c7C8cP74kbNB0Z8k9Oxx/PMaDQ1+ibmoexNqVU5ZlmX
  artifact: /Serilog.*\.nupkg/
  tag: v$(appveyor_build_version)
  on:
    branch: master
